<div style="height: 2em;"></div>
<footer class="fullwidth dark background lock table" style="min-width: 265px;">
  <p class="lock td unset small center text">Excelsior Industries, LLC. © {{getCurrentYear}} All Rights Reserved.</p>
</footer>
