<div class="footer{{#if hide_footer}} hidden{{/if}}"></div>
<footer class="fullwidth dark background {{#if hide_footer}} hidden{{else}} table{{/if}}" style="min-width: 16em;">
  <p class="td small center text">Excelsior Industries, LLC. © {{getCurrentYear}} All Rights Reserved.</p>
</footer>
