<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet'>
<div class="top"></div>
<footer class="dark background small text box">
  <p class="unset center text">Excelsior Industries, LLC. © {{getCurrentYear}} All Rights Reserved.</p>
</footer>
