<header>
  <div class="box">
    <span>
      <a class="box" href="/"><img src="" alt="Excelsior Industries"/></a>
      {{#unless loggedIn}}
        <a class="right box" href="/signup">Sign Up</a>
        <a class="right box" href="/login">Login</a>
      {{else}}
        {{> pageJS js='logout'}}
        <form id="logout" class="right box" method="delete">
          <input type="submit" value="Logout"/>
        </form>
        <a class="right box" href="/users/me">My Profile</a>
      {{/unless}}
    </span>
    {{#if navigation}}
      {{> navigation}}
    {{/if}}
    <h1>{{pageTitle}}</h1>
  </div>
</header>
<hr>
