<header class="lightblue{{#if translucent_header}} translucent{{/if}} background">
  <div class="box">
    <span>
      <a class="box" href="/"><img src="" alt="Excelsior Industries"/></a>
      {{#unless loggedIn ~}}
        {{#unless home ~}}
          <a class="right box" href="/">Sign Up</a>
        {{/unless}}
        {{#unless login ~}}
          <a class="right box" href="/login">Login</a>
        {{/unless}}
      {{else}}
        {{> pageJS js='logout'}}
        <form id="logout" class="right box" method="delete">
          <input type="submit" value="Logout"/>
        </form>
        <a class="right box" href="/users/me">My Profile</a>
      {{/unless}}
    </span>
    {{#if navigation}}
      {{> navigation}}
    {{/if}}
    {{#if pageTitle}}
    <h1 class="unset text box">{{pageTitle}}</h1>
    {{/if}}
  </div>
</header>
