<table class="field">
  {{#each path.content as |video i|}}
    {{#compare i "<" 10}}
      <tr>
        <td>-</td>
        <td colspan=9><a href='/paths/{{../path.id}}/{{this._id}}'>{{this.name}}</a></td>
      </tr>
    {{else}}
      <tr>
        <td></td>
        <td colspan=9><a>Show more videos</a></td>
      </tr>
    {{/compare}}
  {{/each}}
</table>
