<div class="dark background round half island padding">
  <div class="fullwidth">
    <h2 class="unset center text">Path Content</h2>
    <button class="fullwidth background" id="showMore">Show more videos</button>
  </div>
</div>
