<div class="round padding" style="background-color: #FFFFFF; border: unset;">
  <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
  <div id="editor" style="color: #000000;">{{{text}}}</div>
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  {{> pageJS js="quill_init"}}
</div>
