<div class="fullwidth relative inblock">
  <textarea class="fullwidth padding text" cols="{{cols}}" placeholder="{{response-text}}">{{value}}</textarea>
  <button class="inset light background" style="right: .5em; bottom: .75em;">Send</button>
</div>
