<div class="maxwidth relative inblock area">
  <textarea class="round padding text" style="width: 100em;" placeholder="{{response-text}}">{{value}}</textarea>
  <button class="inset light background" style="right: 10px; bottom: 12px;">Send</button>
</div>
