{{> pageJS js='search'}}
<div class="top" id="error-search"></div>
<form id="searchUser" action="/search/{{type}}" class="island column">
  <input class="field" type="search" name="name" placeholder="Search here..." autocomplete="off">
  <input class="right" type="submit" size=100 maxlength="50" value="Search">
</form>
<div class="top" id="results"></div>
