<div class="fat center column border island">
  <form id="signin">
    <!-- action={{action}} method="post" -->
    <table class="field">
      <tr class="island">
        <th colspan=3><h2>{{text}}</h2></th>
      </tr>
      <tr>
        <td></td>
        <td colspan=2><div id="error-signin"></div></td>
      </tr>
      <tr>
        <td><label for="email" class="text right">Email:</label></td>
        <td colspan=2><input id="email" class="field" name="email" autocomplete="on"></td>
      </tr>
      <tr>
        <td><label for="password" class="text right">Password:</label></td>
        <td colspan=2><input id="password" class="field" type="password" name="password" autocomplete="on"></td>
      </tr>
      <tr>
        <td class="center text" colspan=2>{{#if home ~}}
            Already have an account? <a href="/login">Click here!</a>
          {{else if login ~}}
            Don't have an account yet? <a href="/">Click here!</a>
          {{/if}}</td>
        <td><input class="right field box" type="submit" value="{{text}}"></td>
      </tr>
    </table>
  </form>
</div>
