{{> response_field response-text="Type your review here..."}}
<div class="border half island round table dark background">
  <div class="tr">
    <div class="lock td overflow" style="width: 25%;">
      {{! cells have overflow for scroll}}
      Users
    </div>
    <div class="lock td" style="width: 75%;">
      Reviews
    </div>
  </div>
</div>
