<div class="island center dark background round padding" style="max-width: 50em;">
  <form action="/create-path" method="post">
    {{!--
    <img src="/img/thermbomo110.png" class="island" style="width: 15em; height: 12em; display: block;">
    <input type="file" name="file" accept="image/*" style="max-width: 16em; margin-bottom: 0.5em;">
    --}}
    <div class="left fullwidth table island">
      <div class="tr">
        <span class="td" style="width: 4em;">Name:</span>
        <div class="td">
          <input type="text" name="display_name">
        </div>
      </div>
      <div class="tr">
        <span class="td">URL:</span>
        <input type="text" value="/path/...-ID_GOES_HERE" readonly="1">
      </div>
      <div class="tr">
        <span class="td">Author:</span>
        <span class="td">{{author.name}}</span>
      </div>
      {{!--
      <div class="tr">
      <span class="td">Description:</span>
      <div class="td"><textarea class="padding text" cols="40"></textarea></div></div>
      --}}
      <div class="tr">
        <span class="td">Tags:</span>
        <textarea class="fullwidth td padding text" name="tags"></textarea>
      </div>
    </div>
    <input type="submit" value="Create Path" style="max-width: 20em;">
  </form>
</div>
