<div class="full table" style="height: 15em;">
  <div class="tr">
    <h2 class="td center round background">
      <span style="font-size: 3em;">500 Error</span><br>
      We're sorry. We've encountered an issue.<br>
      We'll fix this as soon as possible!
      Let us know <a href="https://www.facebook.com/groups/excelsiorbeta">here</a>!
    </h2>
  </div>
</div>
