<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explore Curation | Excelsior</title>
    {{> links}}
  </head>
  <body>
    {{> header}}
    {{> pageJS js="explore"}}
    {{> pathresults}}
    {{> footer}}
  </body>
</html>
