<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{pageTitle}}</title>
    {{> links}}
  </head>
  <body>
    {{> header pageTitle="Excelsior"}}
    <p>Search users of the Excelsior community.</p>
    <div class="top" id="error-box"></div>
    <form id="searchUser">
      <input type="search" name="name" placeholder="Search for usernames here..." autocomplete="off">
      <input type="submit" size=100 maxlength="50" value="Search">
    </form>
    <div class="top" id="results"></div>
    {{> pageJS js='home'}}
    {{> footer}}
  </body>
</html>
