<div id="url" class="hidden">{{path.url}}</div>
<div id="index" class="hidden">{{index}}</div>
<div id="topbar" class="absolute nooverflow"></div>
<span id="show_header" class="absolute" style="right: 1em; width: 1em; height: 1em; background: #FFF;"></span>
<div id="content" class="fullwidth" style="height: 6em;"></div>
<iframe id="frame" src="{{resource_url}}/embed" class="fullwidth" style="height: 30em;"></iframe>
{{> pageJS js="inpath"}}
