{{listings}}
<div class="island center fullwidth round dark background padding" style="max-width: 50em; margin-top: 1em;">
  <a href="/path/create"><button type="button">Create a Path of Learning</button></a>
</div>
