<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    {{> header}}
    <div class="fullwidth table padding">
      <div class="tr">
        <div class="td" style="vertical-align: top; width: 40%;">
          <h1 class="center">What's New?</h1>
          <div class="round border" style="min-height: 40vh;"></div>
        </div>
        <div class="td">
          {{> user_form}}
          <div class="fullwidth center">
            <div class="margin">Or</div>
            <a href="/auth/facebook"><button class="border" type="button" style="width: 15em; background-color: #4665AE;">Sign in with Facebook</button></a>
          </div>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
