<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Login | Excelsior</title>
    {{> links}}
  </head>
  <body>
    {{> header}}
    {{> pageJS js="login"}}
    <div class="row">
      <div class="column">
        {{> signin}}
      </div>
      <div class="column">
        <div class="center island column">
          <h2 class="unset center text">What's New</h2>
        </div>
        <div class="border field">
          <table class="field">
            <tr>
              <td>May 11th, 2018</td>
              <td colspan=3>This site was made beautiful.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
