{{#unless isPath}}
  {{> pol_view}}
  <span><a href="/paths/explore">Explore</a></span>
  <span> ~~~ </span>
  <span><a href="/paths/5b048c62bd0bc33356521ed1">Test Path</a></span>
  {{else}}
  <div class="fullwidth table">
    <div class="fullwidth tr">
      <div class="td center text" style="width: 30%;">
        <h1>{{path.display_name}}</h1>
        {{> user_reviews threshold=200 }}
      </div>
      <div class="half td">
        {{> pol_view border=true}}
        {{> pol_content_list}}
      </div>
    </div>
  </div>
{{/unless}}
