<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{pageTitle}} | Excelsior</title>
    {{> links}}
  </head>
  <body>
    {{> header}}
    <nav class="lightblue background column island distance">
      <table class="field">
        <tr class="big center text background">
          <td><a href="/search/paths">Paths</a></td>
          <td><a href="/search/resources">Resources</a></td>
          <td><a href="/search/users">Users</a></td>
        </tr>
      </table>
    </nav>
    <div class="box">
      {{> search}}
    </div>
    {{> footer}}
  </body>
</html>
