<div class="tr">
  <div class="td round border light background padding">
    <div class="fullwidth table">
      <div class="tr">
        <div class="td" style="width: 5em;">
          <img src="/img/thermbomo110.png" style="width: 5em; height: 4em;">
        </div>
        <div class="td padding center">{{display_name}}<br><span style="font-size: 0.8em;">Modified: {{last_modified}}</span></div>
        <div class="td center" style="width: 3em;">
          <a href="{{url}}"><button class="border background">Enter</button></a>
        </div>
      </div>
    </div>
    <hr>
    <div class="fullwidth table">
      <div class="tr">
        <button type="button" class="td island fullwidth" style="max-width: 25em;">View Description / Rating</button>
      </div>
    </div>
    <div class="fullwidth table">
      <div class="tr">
        <div class="td center">
          {{#if following}}
          <div type="button" class="island round green background half padding">Following</div>
          {{else}}
          <a href="#"><button type="button" class="border half">Follow</button></a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
