<div class="fullwidth dark background round padding">
  <h2 class="center text padding">Path Content</h2>
  <button class="fullwidth background" id="showMore" style="min-width: 9em;">Show More</button>
</div>
