* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #333333;
  overflow-x: auto;
}

html, body {
  margin: unset;
}

.clickthru {
  pointer-events: none;
}
  .clickthru * {
    pointer-events: auto;
  }

.absolute, footer, .inset {
  position: absolute;
}
  .absolute {
    top: 0;
    left: 0;
  }

.relative, body {
  position: relative;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.inblock {
  display: inline-block;
}

.table {
  display: table;
  border-spacing: 5px;
  table-layout: fixed;
}
  .tr {
    display: table-row;
  }
  .col {
    display: table-column;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }

.unset, h1, h2, h3, h4, h5, h6, hr {
  margin: unset;
  padding: unset;
}
  .unset.border, button, input, textarea {
    border: unset;
  }

.floatleft {
  float: left;
}
.floatright {
  float: right;
}

.island {
  margin: auto;
}

.margin {
  margin: 0.5em;
}
.padding, input {
  padding: 0.5em;
}

.border {
  border: 2px solid #AAAABB;
}

.background, textarea, button {
  background-color: #444455;
}
  .dark.background {
    background-color: #222222;
  }
  .light.background, input {
    background-color: #555566;
  }
    .translucent.light {
      background-color: #5555667F;
    }

.overflow {
  overflow: auto;
}

.fullwidth, .full, .tr {
  width: 100%;
}
.fullheight, .full {
  height: 100%;
}

.maxwidth, textarea {
  max-width: 100%;
}

.uibox {
  height: 40vh;
}

.autoheight {
  height: auto;
}

.half {
  width: 50%;
}

.round, input, button, img, textarea {
  border-radius: 5px;
}

.aligntop {
  vertical-align: top;
}

.text, body, button, input {
  font-family: "Cabin", "Trebuchet-MS", sans-serif;
  color: #BBBBBB;
}
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .small.text {
    font-size: 0.75em;
  }
  .large.text {
    font-size: 1.5em;
  }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_content {
  margin: 5% auto;
  width: 40%;
  height: auto;
  word-wrap: break-word;
}

hr {
  border: unset;
  background-color: #AAAABB;
  height: 2px;
}

header {
  border-bottom: 2px solid #444460
}
  header h1 {
    color: #CCCCCC;
  }
  header.background {
    position: sticky;
    z-index: 1;
    top: 0;
  }

a {
  color: #4F6FBF;
  text-decoration: unset;
}
  a:hover {
    color: #5F7FCF;
  }
  a:active {
    color: #4F6FBF;
  }

button {
  background-color: #444455;
  font-family: "Cabin", sans-serif;
  font-size: 1em;
  padding: 0.5em;
}
  button:disabled {
    background-color: #404050;
    color: #505050;
  }

input {
  font-size: 1em;
  width: 100%;
}

input:read-only {
  color: #9999AA;
}

input[type="submit"] {
  font-weight: 700;
}

input:focus {
  outline: none;
}

form {
  overflow: auto;
}

textarea {
  resize: vertical;
  font-size: 1em;
  min-width: 5em;
  min-height: 6em;
  max-height: 30vh;
}

.inset {
  bottom: 10px;
  right: 10px;
}

footer {
  bottom: 0;
}
  footer, .footer {
    height: 2em;
  }
