<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{> head}}
  </head>
  <body class="{{bodyClass}}" style="{{bodyStyle}}">
    {{> initial_scripts}}
    {{> header}}
    {{> (partial)}}
    {{> footer}}
  </body>
</html>
